body 
{
    background-color:black;
}

#board
{
    position: relative; 
    width: 1024px; 
    height: 863px;
    margin: auto;
    background: url("board.jpg") no-repeat; 
}

#messageArea
{
    top: 0px;
    left: 0px;
    color: rgb(83,175,19);
    width: 1000px; 
    height: 50px; 
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    text-align: center;
}

table
{
    position: absolute;
    left: 175px;
    top: 98px;
    border-spacing: 0px;
}

td
{
    width: 94px;
    height: 94px;
}

#container
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 45px;
    color: #ffffff;
    background-color: black;
}

form 
{
    bottom: 0px;
    right: 0px;
    padding: 15px;
    border: 5px;
    border-radius: 5px;
    width: 900px;
    margin-top: 25px;
}

form input
{
    background-color: rgb(152,207,113);
    border-color: rgb(83,175,19);
    width: 400px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    border: 5px;
    border-radius: 5px;
    text-align: center;
    
}

form input:hover#fireButton
{
    background-color: #D82904;
    cursor: pointer;
    text-transform: uppercase;
}

.hit
{
    background: url("ship.png") no-repeat center center;
}

.miss{
    background: url("miss.png") no-repeat center center;
}

 /* end */
 
.fire
{
    background-color: black;
    color:#ffffff;
}

.reset
{  
    color: #71c225;
    cursor: pointer;
    font-size: 45px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.reset:hover
{
    color: #50a003;
}